# MinerandoDados - Linguagem Python

In [1]:
# Esse é um comentário

In [2]:
print ('Hello World')

Hello World

In [3]:
'Hello World'

'Hello World'

In [4]:
# Operações Matemáticas. Pressione CTRL + ENTER para executar a célula

In [5]:
2 + 10

12

In [6]:
# Subtração

In [7]:
2 - 2

0

In [8]:
# Multiplicação

In [49]:
2 * 2

4

In [10]:
# Divisão

In [11]:
2 / 2

1.0

In [12]:
# Numeros Float

In [13]:
3.2 + 6.6

9.8

In [14]:
8.8 / 2

4.4

In [15]:
10.2 * 2.5

25.5

# Funções no Python

In [16]:
type(5)

int

In [17]:
type(6.6)

float

In [18]:
type("Minerando Dados")

str

# Funções de Conversão

In [19]:
int(6)

6

In [20]:
int(6.5)

6

In [21]:
float(6.5)

6.5

In [22]:
float(6)

6.0

In [23]:
str(5)

'5'

# Funções de Arredodamento

In [24]:
round(2.898)

3

In [25]:
round(2.4545455,3)

2.455

# Trabalhando com Variáveis

In [26]:
var1 = 1
var2 = 2 
var3 = 3

In [27]:
var1

1

In [28]:
type(var1)

int

In [29]:
var4 = 10

In [30]:
var4

10

In [31]:
var1 + var2

3

In [32]:
# Reatribuindo um valor a variável var1 graças a TIPAGEM DINÂMICA

In [33]:
var1 = 'Rock Forever'

In [34]:
type(var1)

str

In [35]:
var2 = 6.78

In [36]:
type(var2)

float

# Operacões Matemáticas e Variáveis

In [37]:
resultado = var2 * 10

In [38]:
resultado

67.8

In [39]:
resultado = 200 / 3

In [40]:
resultado

66.66666666666667

In [41]:
## Declarando vários valores a variaveis

In [42]:
variavel1, variavel2 = 1, 'Teste'

In [43]:
variavel1

1

In [44]:
variavel2

'Teste'

# Restrições para criação de variáveis

In [45]:
variavel_teste = 2

In [46]:
variavel_teste

2

In [47]:
var2 = 10

In [48]:
for= 5

SyntaxError: invalid syntax (929843791.py, line 1)

In [ ]:
# Palavras Reservadas não são permitidas: break, if, else, print etc...

# Trabalhando com Strings

In [ ]:
# Criando uma variável do tipo String

In [50]:
frase = 'Python eh uma linguagem sensacional'

In [51]:
frase

'Python eh uma linguagem sensacional'

In [ ]:
# Indexando Strings.

In [52]:
# Importante!! o índice começa com o numero 0.
frase[0]

'P'

In [ ]:
frase[1]

In [ ]:
frase[0] = 'R'

In [ ]:
# Slicing: Percorrendo Strings

In [ ]:
frase[0:6]

In [ ]:
frase[6:]

In [ ]:
frase[:6]

In [ ]:
# Concatennado Strings

In [ ]:
frase1 = 'Python eh uma linguagem fenomenal'

In [ ]:
frase2 = ' para qualquer cientista de dados'

In [ ]:
frase3 = frase1 + frase2

In [ ]:
# Objeto String - Métodos

In [ ]:
frase = 'Minerando Dados a maior comunidade de Data Science do Brasil.'

In [ ]:
frase.count('Dados')

In [ ]:
# A função lower()

In [ ]:
frase.lower()

In [ ]:
frase.upper()

In [ ]:
frase.capitalize()

In [ ]:
frase.islower()

In [ ]:
# Quebrando a string em uma lista de termos
frase.split()

# Trabalhando com Listas

In [ ]:
# Sintaxe para criar listas no Python
bixos = [1,2,3]
bixos

In [ ]:
# listas com tipos de dados diferentes
bixos = ['dog','cat',122344545,13.9,[0,0,1]]

In [ ]:
bixos

In [ ]:
# Indices de elementos

In [ ]:
bixos[0]

In [ ]:
bixos[3]

In [ ]:
# Atualizando o valor 1 da lista
bixos[0] = 'Horse'

In [ ]:
bixos

In [ ]:
# Slicing em Listas

In [ ]:
bixos[1:]

In [ ]:
# removendo elementos
bixos.remove('cat')

In [ ]:
bixos

# Operações em Listas

In [ ]:
len(bixos)

In [ ]:
# Concatenando listas

In [ ]:
bixos + [200,'Minerando','Dados']

In [ ]:
# Check elementos

In [ ]:
'cat' in bixos

In [ ]:
# Valor máximo da lista

In [ ]:
max(bixos)

In [ ]:
lista = [1,500,23,90,56788]

In [ ]:
max(lista)

In [ ]:
# Valor mínimo da Lista

In [ ]:
min(lista)

In [ ]:
# Multiplicação de Elementos

In [ ]:
['Olá'] * 3

# Métodos em Listas

In [ ]:
# È possivel visualizar os métodos existentes do objeto lista (digite o nome do objeto + . + tab)
bixos.

In [ ]:
# Adiciona elemento na lista
bixos.append('snake')

In [ ]:
bixos

In [ ]:
# Extende a lista com mais de um elemento.
bixos.extend(['lion',10.5])
bixos

In [ ]:
bixos.index('snake')

In [ ]:
bixos.remove('snake')

In [ ]:
bixos.count('dog')

In [ ]:
bixos.sort()

In [ ]:
# Ordenação de lista de inteiros
lista = [1,500,23,90,56788]
lista2 = ['casa','rio','lua','agua']

In [ ]:
lista.sort()
lista

# Lista Aninhadas

In [ ]:
# lista que contém 3 listas
listas = [ ['cat','dog','snake'], ['Audi','Ferrari','Porsche'], [10,100,200] ]

In [ ]:
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 200]]

In [ ]:
# Imprimindo o primeiro elemento (lista de animais)
listas[0]

['cat', 'dog', 'snake']

In [ ]:
# Imprimindo o segundo elemento (lista de carros)
listas[1]

['Audi', 'Ferrari', 'Porsche']

In [ ]:
# Imprimindo o terceiro elemento (lista de inteiros)
listas[2]

[10, 100, 200]

In [ ]:
# Imprimindo o 1 carro da lista de carros
listas[1][0]

'Audi'

In [ ]:
# Imprimindo o 2 carro da lista de carros
listas[1][1]

'Ferrari'

In [ ]:
# Imprimindo o ultimo valor da lista de numeros
listas[2][2]

200

In [ ]:
# Operacão de repetição de elementos de linhas alinhadas. listas[0] * 3

['cat', 'dog', 'snake', 'cat', 'dog', 'snake', 'cat', 'dog', 'snake']

In [ ]:
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 200]]