# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print("Eu sou Minerador de Dados!")

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [15]:
num1 = 5
num2 = 2
soma = num1 + num2
multiplicacao = num1 * num2
divisao = num1 / num2
print(f'{num1} + {num2} = {soma}')
print(f'{num1} * {num2} = {multiplicacao}')
print(f'{num1} / {num2} = {divisao}')

5 + 2 = 7
5 * 2 = 10
5 / 2 = 2.5

3) Imprima o tipo de um determinado valor inteiro.

In [16]:
type(soma)

int

4) Converta o valor passado anteriormente para o tipo float

In [18]:
soma = float(soma)
print(type(soma))

<class 'float'>

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [19]:
soma = str(soma)
print(type(soma))

<class 'str'>

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [23]:
valor1 = round(2.898)
print(valor1)
valor2 = round(2.4545455, 4)
print(valor2)

3
2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [31]:
nome = 'Derson '
print(nome)
print(type(nome))
nome += 'Sousa'
print(nome)

email, idade = 'emailteste@gmail.com', 29
print(email, idade)

Derson
<class 'str'>
Derson Sousa
emailteste@gmail.com 29

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [32]:
'Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.'

'Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.'

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [52]:
frase1 = "Python é uma maldição!"
frase2 = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."

print(frase1)
print(frase1[0])
print(frase1[:6])
print(len(frase1))
print(frase2.count('dados'))
print(frase2.capitalize())
frase2.split(',')

Python é uma maldição!
P
Python
22
2
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [118]:
idades = [18,22,45,38,78,25]
print(idades)
print(idades[1])
print(len(idades))
idades[1] = 30
print(idades)
print(idades[1:])
idades.remove(30)
print(idades)
salarios = [900,1200,1500,800,12587,10000]
print(salarios)
10000 in salarios
print(f'Menor valor: {min(salarios)} e Maior valor: {max(salarios)}')
salarios.append(7000)
print(salarios)
salarios.extend([8000, 9000])
print(salarios)
print(f'Index: {salarios.index(800)} - Valor: {salarios[3]}')
salarios.sort()
print(salarios)
salarios.sort(reverse=True)
print(salarios)

[18, 22, 45, 38, 78, 25]
22
6
[18, 30, 45, 38, 78, 25]
[30, 45, 38, 78, 25]
[18, 45, 38, 78, 25]
[900, 1200, 1500, 800, 12587, 10000]
Menor valor: 800 e Maior valor: 12587
[900, 1200, 1500, 800, 12587, 10000, 7000]
[900, 1200, 1500, 800, 12587, 10000, 7000, 8000, 9000]
Index: 3 - Valor: 800
[800, 900, 1200, 1500, 7000, 8000, 9000, 10000, 12587]
[12587, 10000, 9000, 8000, 7000, 1500, 1200, 900, 800]